// Imports

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

// Variables 
$veryDarkGray: hsl(0, 0%, 17%);
$darkGrey: hsl(0, 0%, 59%);
$white: #fff;


// Mixins 
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
*:focus, *:active {
  outline: none;
}
html, body {
  font-family: 'Rubik', sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
}

:root {
  font-size: 18px;
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(./assets/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 38vh;
  max-height: 250px;
  z-index: 50;
}

.container {
  @include center();
  flex-direction: column;
  position: relative;
  width: 80%;
}

.error {
  color: red;
  margin: 10px 0 0 0;
}

.input-box {
  @include center();
  margin-top: 20px;
  width: 100%;
}
.head h1 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.head input[type="text"] {
  padding: 15px 20px;
  border-radius: 10px 0 0 10px;
  border: 0;
  width: clamp(100px, 600px, 100%);  
}

.btn-primary {
  height: 45px;
  border: 0;
  border-radius: 0 10px 10px 0;
  background: $veryDarkGray;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
}

.details-section {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: $white;
  padding: 30px;
  top: 190px;
  right: 0;
  left: 0;
  border-radius: 15px; 
  box-shadow: 0 0 20px 5px #00000010;
  z-index: 99;
}

.box {
  padding: 10px;
  width: 25%;
}

.box h6 {
  font-size: 0.65rem;
  color: $darkGrey;
}
.box h4 {
  color: $veryDarkGray;
}

.lg-container {
  position: relative;
}

#map {
  width: 100vw;
  height: calc(100vh - 250px);
  position: absolute;
}


// Helpers